.custom-toolbar {
  --ion-color-primary: #1f7a8c;
  color: #e1e5f2;
  text-align: center;
}


ion-content {
  --background: #022b3a;
  color: #e1e5f2;
  align-items: center;
}

ion-header {
  --background: #022b3a; 
  --color: #e1e5f2;
}

ion-img {
  width: 250px;
  max-height: 400px;
 margin-left: 100px;
 margin-top: 20px;
 border: 4px solid; 
 align-content: center;
 display: flex;

  &.hydrated {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  
  }
}

.anime-info-container {

  background: #022b3a;
  padding: 16px;
  margin-top: -8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}

h1 {

  font-size: 35px;
  font-weight: bold;
  color: #e1e5f2;
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 50px;
  text-align: center;
}

p strong {
  font-size: 18px;
  color: #e1e5f2;
  margin-left: 105px;
  text-align: center;
}

h2 {

  font-size: 20px;
  font-weight: 600;
  color: #e1e5f2;
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  text-align: center;
}

.ion-text-wrap {
  color: #e1e5f2;
  font-size: 0.95em;
  line-height: 1.5;
  text-align: center; 
  padding-bottom: 16px;
  text-align: center;
}

hr {
  border-top: 1px solid #3d3d3d;
  margin: 16px 0;
  text-align: center;
}

