<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{ anime?.title || 'Carregando...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="anime && !loading">
    
    <ion-img [src]="anime.images.jpg.image_url" [alt]="anime.title"></ion-img>
    
        
        <div class="ion-padding">
    <h1>{{ anime.title }}</h1>
    <p><strong>Nota Jikan:</strong> {{ anime.score }} (Rank: #{{ anime.rank }})</p>

    <div class="ion-padding">
        <h2>Sinopse</h2>
        <p class="ion-text-wrap" style="line-height: 1.6;">
            {{ anime.synopsis || 'Sinopse não disponível.' }}
        </p>

        </div>
    
    <hr>
    
    
    <div style="display: flex; gap: 5px; font-size: 2em; color: var(--ion-color-warning);">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
      </ng-container>

    </div>
  </div>
  </div>

</ion-content>