<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="custom-bar">
    <ion-title>
      AnimeYo!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let anime of topAnime" 
              [routerLink]="['/anime-info', anime.mal_id]"
              detail="true"
              lines="full">
      
      <ion-avatar slot="start">
        <img [src]="anime.images.jpg.image_url" style="object-fit: cover;" />
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h2>{{ anime.title }}</h2>
        <p>Rank: {{ anime.rank }}</p>
      </ion-label>

      <ion-badge slot="end" color="warning">{{ anime.score }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item *ngFor="let item of [1,2,3,4,5]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-avatar>
    </ion-item>
  </ion-list>

</ion-content>