ion-list {
  padding: 0;
  margin: 0;
  --ion-background-color: transparent;
}

ion-item {
  --background: #022b3a; 
  --color: $text-color;
  --border-color: #e1e5f2;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

ion-badge {
  font-size: 20px;
  font-weight: bold;
  padding: 6px 10px;
  background-color: #e1e5f2;
}

.ion-text-wrap {
  h2 {
    color: #e1e5f2;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  p {
    color: #e1e5f2;
    font-size: 15px;
    font-weight: bold;
  }
}

ion-avatar {
  border:#e1e5f2;
  width: 100px;
    height: 100px;
    border: 4px solid;
  img {
    object-fit: cover; 

  }
}

.custom-toolbar {
  --ion-color-primary: #1f7a8c;
  color: #e1e5f2;
  text-align: center;
}
